* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2666cf;
  font-family: 'Nunito', sans-serif;
}

.card {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  color: #eee;
  text-align: center;
  padding: 3em;
  z-index: 100;
  transition: all 0.7s ease-in-out;
}

.card:hover {
  background-color: white;
  transform: scale(1.1);
}

.profile-name {
  font-size: 3rem;
  line-height: 1.1;
  letter-spacing: 1px;
  margin: 0;
}

.profile-name::after {
  content: '';
  display: block;
  height: 1px;
  width: 3em;
  background-color: #fffffe;
  margin: 0.7em auto 0.5em;
  opacity: 0.3;
}

.profile-position {
  margin: 0;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  color: #fffffe;
  margin-bottom: 1em;
}

.profile-body {
  font-weight: 400;
  line-height: 1.8;
  font-size: 20px;
  padding: 5px;
  margin-bottom: 30px;
  color: #fffffe;
}

span {
  color: #ecc488;
  font-weight: 700;
}

.profile-img {
  border-radius: 50%;
  /* border: 4px solid white; */
  height: 200px;
  width: 200px;
}

.social-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 125px;
  margin: 0 auto;
}

.social-link {
  color: #ecc488;
  opacity: 0.9;
  font-size: 1.325rem;
}

.social-link:hover,
.social-link:focus {
  opacity: 1;
}

.profile-form {
  margin: 0;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #fffffe;
}

@media (min-width: 650px) {
  .card {
    flex-direction: row;
  }
  .profile-main {
    text-align: left;
    margin-left: 2em;
  }

  .profile-name::after {
    margin-left: 0;
  }
}
